<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<add key="laylistHatch" value="41_Покр_Проезд,49_Покр_Щебеночный_проезд,42_Покр_Тротуар,42_Покр_Тротуар_Пожарный,43_Покр_Отмостка,44_Покр_Детская_площадка,45_Покр_Спортивная_площадка,46_Покр_Площадка_отдыха,47_Покр_Хоз_площадка,48_Покр_Площадка_для_собак,51_Газон,52_Газон_пожарный,15_Здание_заливка" />
		<add key="laylistPL" value="09_Граница_благоустройства,16_Здание_контур_площадь_застройки,31_Борт_100.30.15,32_Борт_100.20.8,33_Борт_100.45.18,34_Борт_Металл,35_Борт_Пластик" />
		<add key="laylistBlock" value="51_Деревья,52_Кустарники,12_Тактильная_плитка" />
		<add key="tactileNames" value="Линии вдоль,Линии поперек,Конусы шахматный,Конусы квадрат,1 Линия,2 Линии,Шуцлиния" />
		<add key="pLabelLayer" value="32_Подписи_покрытий" />
		<add key="oLabelLayer" value="50_Озеленение_подписи" />
		<add key="tempLayer" value="80_Временная_геометрия" />
		<add key="th" value="774A" />
		<add key="tp" value="78E16" />
		<add key="tb" value="78E73" />
	</AppSettings>
</configuration>